{% extends 'admin/layouts.html' %} 

{% block content %}
    
    <main id="main" class="main">
        <div class="pagetitle">
          <h1>Form Elements</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item">Forms</li>
              <li class="breadcrumb-item active">Elements</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <section class="section">
          <div class="row justify-content-center">
            <div class="col-lg-9">


              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center fw-bold "><h3 class="text-center fw-bold pb-5">Update Category</h3></h5>
                  <form method="post" action="/admin/update-category" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10">
                        <label class="col-sm-2 col-form-label">Category name</label>
                        <div class="form-floating mb-3">

                          <input type="text" name="name" class="form-control" value="{{ category.category_name }}" id="floatingInput" placeholder="name@example.com">
                          <input type="hidden" name="id" value="{{ category.id }}" class="form-control" id="floatingInput" placeholder="name@example.com">
                          <label for="floatingInput">Category name</label>
                        </div>
                      </div>
                      <div class="form-floating mb-3 text-center">
                        <button type="submit" class="btn btn-success">Upload Blog</button>
                      </div>

                    </div>
                  </form><!-- End General Form Elements -->

                </div>
              </div>

            </div>
          </div>
        </section>

      </main><!-- End #main -->

{% endblock  %}
